<%#  have access to users property %>

<a href="/coders/new">Add a New Coder</a>

<% for(let i = 0; i < users.length; i++) { %>
    <p><%= users[i].firstName %> is <%= users[i].age %> years old </p>
<% } %>