<form action="/coders" method="POST">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" id="firstName">
    
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" name="lastName">

    <label for="age">Age</label>
    <input type="text" id="age" name="age">

    <label for="email">Email</label>
    <input type="email" name="email" id="email">

    <button type="submit">Create Coder</button>
</form>